.root {
  position: relative;

  :global {
    // 全局样式
    .ant-upload-list {
      .ant-upload-list-picture-card-container,
      .ant-upload-select {
        width: 146px;
        height: 146px;
      }
    }
    // 富文本编辑器高度控制
    .ql-editor {
      height: 300px;
    }
  }
}
